@font-face{
  font-family: abster;
  src:url(font/abster-webfont.woff) format('woff');
}
*{
  margin: 0;
  padding: 0;
  box-sizeing: border-box;
}

.container{
  width: 100%;
  height: 16vh;
  background-color: black;
}

.container .header{
  width: 80%;
  height: 100px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header h1 a{
  text-decoration: none;
  color:white;
  font-family: abster;
}

.main-menu
{
  display:inline-block;
}

.main-menu > ul
{
  display:inline-block;
  padding:0 10px;
}

.main-menu ul ul
{
  background-color:rgba(0,0,0,0.7);
  display:block;
  position:absolute;
  top:100%;
  left:0;
  width: 150%;
}

.main-menu > ul > li
{
  font-size: 18px;
  display: inline-block;
  margin:0 40px;
  
}

.main-menu li, .main-menu li a
{
  font-weight:600;
  color:#3a3a3a;
  text-decoration: none;
  color: white;
}

.main-menu li
{
  position:relative;
  padding:1rem;
}

.main-menu ul ul
{
  position:absolute;
  display:none;
  margin:0;
}

.main-menu li:hover > ul
{
  display:block;
}

.upper-menu
{
  display: flex;
}

.sub-menu > li
{
  display: inline-block;
  text-decoration: none;
}


.container .hero{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.container .hero h2{
  font-size: 70px;
  margin-bottom: 20px;
}

.container .hero p{
  font-size: 30px;
}

.container .hero button{
  background: none;
  font-size: 20px;
  border:2px solid #fecc04;
  color:white;
  padding: 15px 45px;
  border-radius: 100px;
  margin-top: 80px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}

.container .hero button:hover{
  background-color: #fecc04;
}

.container .top-menu a:hover
{
 color: #fbff00; 
}
/* ----- 상단 메뉴 -----*/
.top-menu
{
  display:flex;
  flex:1;
  flex-flow:row wrap;
  padding-top:5px;
  padding-bottom:5px;
  max-width:1450px;
  margin-right:auto;
  margin-left:auto;
  justify-content:space-between;
}

.top-menu a
{
  text-decoration:none;
  color:white;
  font-family:'Raleway', sans-serif;
}


/* -----사이드 메뉴----- */

.side
{
  width: 20%;
  height: 750px;
  left: 10%;
  top: 100px;
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: normal;
}

.side-menu
{
  border-bottom: solid 1px;
  width: 150px;
  padding: 10px 0;
}

.side-menu a 
{
  text-decoration: none;
  color: black;
}

/* -----footer----- */
.footer
{
  width: 100%;
  height: 10vh;
  background-color: black;;
}

.footer .foot
{
  width: 70%;
  height: 100px;
  margin:0 auto;
  display: flex;
}

.foot > p
{
  color: white;
}